
  <button (click)="Modaltitulos()" mat-raised-button class="buttonPrincipal mb-2" >
    <mat-icon>
      list
    </mat-icon>
    Titulos
  </button>
  <div class ="Espacios">
      <div class="col-md-12">
          <table class="table">
              <thead>
                <tr >
                  <th    scope="col"> Acciones </th>
                    <th  scope="col"> ID       </th>
                    <th  scope="col"> Nombre   </th>
                </tr>
              </thead>
              <tbody>
                <tr  *ngFor="let Titulo of Titulos">
                  <td >
                    <button *ngIf="Titulo.nombre != 'Acciones'" (click)="Modaltitulos(Titulo.id, Titulo.nombre)" mat-mini-fab  >
                        <mat-icon >create </mat-icon>
                    </button>
                    <button mat-mini-fab *ngIf="Titulo.nombre != 'Acciones'" (click)="EliminarCampo(Titulo.id,Titulo.nombre)"  color="primary" >
                        <mat-icon>delete</mat-icon>
                    </button>
                   </td>
                  <th *ngIf="Titulo.nombre != 'Acciones'">{{Titulo?.id}}
                  </th>
                  <td *ngIf="Titulo.nombre != 'Acciones'">{{ Titulo?.nombre}}
                  </td>
                
                </tr>
              </tbody>
            </table>
      </div>
  
  </div>
   