<mat-card class="card" >
  <h4>Edicion de Datos</h4>
        <form [formGroup]="formulario" #f="ngForm">
          <div class="row">
              <div class="col-md-6">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Nombre</mat-label>
                    <input matInput placeholder="Nombre" formControlName=nombre >
                  </mat-form-field>
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Descripción</mat-label>
                    <input matInput placeholder="Nombre"  formControlName=descripcion >
                  </mat-form-field>
              </div>
          </div>

          <div class="row">
            <button (click) = "ActualizarValores()" *ngIf="!f.invalid" mat-raised-button class="buttonPrincipal" >
                <mat-icon>
                  description
                </mat-icon>
                Guardar 
            </button>


            <button *ngIf="data.data > 0" mat-raised-button class="buttonPrincipal" >
              <mat-icon>
                delete
              </mat-icon>
              Eliminar 
          </button>
          </div>
          </form>

</mat-card>