/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
    --main-bg-color: white;
  }


.card{
    background-color: white;
    color: black;
    display: initial;
}


.custom-dialog >  mat-dialog-container {
    background: var(--main-bg-color);
  }

  button:hover{
    background-color: rgb(185, 182, 177);
}